body {
    font-family: arial,sans-serif
}

h1, h2, h3, h4, h5, h6 {
    color:#525252;
}

/* Side Slidebar Styling */
.sidebarSlider {
	position: absolute;
	background-color:#000;
	height:100%;
	width: 502px;
	top: 0;
	right:0;
	-moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E0E0E0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow: auto;
    position: fixed;
    z-index: 900;
    display: none;
}

.sidebarSlider .content {
    height:100%;
    padding:0px 20px 20px;
}

.sidebarSlider .preview-header {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 32px;
}

.sidebarSlider h1 {
    font-size: 14px;
    font-weight: bold;
}

.sidebarSlider .img-actions {
    float:left;
}

.sidebarSlider .img-ext {
    float:right;
}

.sidebarSlider .bd {
    float: left;
    margin-top: -15px;
    padding-left: 47px;
}

.sidebarSlider .img-actions,
.sidebarSlider .bd,
.sidebarSlider .img-ext {
    display:inline-block;
}

.sidebarSlider .content .fields .label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    width: 100px;
    word-wrap: break-word;
    padding-left:5px;
    text-shadow:none;
    background-color:#fff;
    color: #525252;
}

.sidebarSlider .content .fields .value {
    font-size: 12px;
    vertical-align: top;
    float:left;
    color: #a5a5a5;
    padding-left:20px;
    margin-top:-2px;

}

.sidebarSlider .content .fields {
    -moz-transition-duration: 0.25s;
    -moz-transition-property: background-color;
    -moz-transition-timing-function: ease-in-out;
    margin-bottom: 0;
    padding:15px 0;
}

.sidebarSlider .content .fields:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

/* End of side slidebar styling */
.businessForm {
    display:none;
}

textarea {
    width: 100%;
}

.deleteRow {
    opacity: 0.5;
}

.resetForm {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 10px;
    vertical-align: middle;
    cursor:pointer;
}

.util-button-new {
    background: -moz-linear-gradient(center top , #F6F6F6, #EAEAEA) no-repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    width: 16px;
    cursor:pointer;
}

/* Icon buttons */

.util-button-new span {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    display: block;
    height: 16px;
    width: 16px;
}

.util-button-new .edit {
    background-position: 0 -6464px;
}

.util-button-new .disable {
    background-position: 0 -1664px;
}

.util-button-new .addPerson {
    background-position: 0 -2079px;
}

.util-button-new .closeSlider {
    background-position: 0 -3584px;
}

/* End of icon buttons */

/* General Classes */

.paddingTop {
    padding-top:10px;
}

.paddingBottom {
    padding-bottom:10px;
}

.paddingTop-20 {
    padding-top:20px;
}

/* Modal setting specific to this project */

.modal {
    width:600px;
}

.modal-body {
    max-height:460px;
}

.addWrapper {
    margin: 0 auto;
    width: 470px;
    padding-bottom: 20px;
}

.addWrapper textarea {
    width: 97%;
}

.addWrapper ul.token-input-list-facebook {
    width:404px;
}

.addWrapper td {
    padding-right:10px;
}

/* End of modal settings */

/* Icon */

.icon {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.icon.contactIcon {
    background-position: 0 -2079px;
}

.icon.plusIcon {
     background-position: 0 -5728px;
}

.icon.resetIcon {
    background-position: 0 -1589px;
}

.icon.busniessIcon {
    background-position: 0 -9121px;
}

.icon.hashIcon {
    background-position: 0 -1854px;
}

.icon.personIcon {
    background-position: 0 -2751px;
}

.icon.emailIcon {
    background-position: 0 -1375px;
}
.icon.phoneIcon {
    background-position: 0 -3295px;
}
.addBusiness {
    cursor: pointer;
    margin-left: 6px;
}

/* Page Layout */



/* End of Page layout */


/* Misc Classes */

.addBusinessTitle h6{
    margin-top:0px;
    display:inline-block;
}
/* End of Misc classes */
