body {
    font-family: arial,sans-serif
}

h1, h2, h3, h4, h5, h6 {
    color:#525252;
}

li {
    list-style: none outside none;
}

/* Side Slidebar Styling */
.sidebarSlider {
	position: absolute;
	background-color:#000;
	height:100%;
	width: 502px;
	top: 0;
	right:0;
	-moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E0E0E0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow: auto;
    position: fixed;
    z-index: 900;
    display: none;
}

.sidebarSlider .content {
    height:96%;
    padding:0px 20px 20px;
}

.sidebarSlider .preview-header {
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 32px;
}

.sidebarSlider h1 {
    font-size: 14px;
    font-weight: bold;
}

.sidebarSlider .img-actions {
    float:left;
    margin-top:5px;
    margin-left: 8px;
}

.sidebarSlider .img-ext {
    float:right;
}

.sidebarSlider .bd {
    float: left;
    margin-top: -13px;
    padding-left: 47px;
}

.sidebarSlider .img-actions,
.sidebarSlider .bd,
.sidebarSlider .img-ext {
    display:inline-block;
}

.modal-body .fields .label,
.sidebarSlider .content .fields .label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    width: 100px;
    word-wrap: break-word;
    padding-left:5px;
    text-shadow:none;
    background-color:#fff;
    color: #525252;
}
.modal-body .fields .value, 
.sidebarSlider .content .fields .value {
    font-size: 12px;
    vertical-align: top;
    float:left;
    color: #a5a5a5;
    padding-left:20px;
    margin-top:-2px;
    width: 60%;

}

.modal-body .fields,
.sidebarSlider .content .fields {
    -moz-transition-duration: 0.25s;
    -moz-transition-property: background-color;
    -moz-transition-timing-function: ease-in-out;
    margin-bottom: 0;
    padding:15px 0;
}


.modal-body .fields:after,
.sidebarSlider .content .fields:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.modal-body .action-bar,
.sidebarSlider .action-bar {
    background: none repeat scroll 0 0 #F3F3F3;
    border-top: 1px solid #DBDBDB;
    min-height: 20px;
    padding: 5px;
}

/* End of side slidebar styling */
.businessForm {
    display:none;
}

.deleteRow {
    opacity: 0.5;
}

.resetForm {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 10px;
    vertical-align: middle;
    cursor:pointer;
}

.util-button-new {
    background: -moz-linear-gradient(center top , #F6F6F6, #EAEAEA) no-repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    width: 16px;
    cursor:pointer;
}

/* Icon buttons */

.util-button-new span {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    display: block;
    height: 16px;
    width: 16px;
}

.util-button-new .edit {
    background-position: 0 -6464px;
}

.util-button-new .addPerson {
    background-position: 0 -2079px;
}

.util-button-new .clock {
    background-position: 0 -2304px;
}

.util-button-new .disable {
    background-position: 0 -1664px;
}
.util-button-new .complete {
    background-position: 0 -736px;
}
.util-button-new .business {
    background-position: 0 -9121px;
}

.util-button-new .task {
    background-position: 0 -608px;
}

.util-button-new .atoz {
    background-position: 0 -49px;
}

.util-button-new .calander {
    background-position: 0 -64px;
}

.util-button-new .star {
    background-position: 0 -3233px;
}

.util-button-new .business {
    background-position: 0 -9121px;
}
.util-button-new .project {
    background-position: 0 -6624px;
}
.util-button-new .connections {
    background-position: 0 -8832px;
}

.util-button-new .filter {
    background-position: 0 -17px;
}
.util-button-new .addPerson {
    background-position: 0 -2079px;
}

.util-button-new .closeSlider {
    background-position: 0 -3584px;
}

.util-button-new .downArrow {
    background-position:0 -2048px;
}

.util-button-new .plusIcon {
    background-position:0 -4736px;
}

.util-button-new .downArrow.open {
    background-position:0 -2048px;
}
/* End of icon buttons */

/* General Classes */

.paddingTop {
    padding-top:10px;
}

.paddingBottom {
    padding-bottom:10px;
}

.paddingTop-20 {
    padding-top:20px;
}

/* Modal setting specific to this project */

.modal {
    width:600px;
}

.modal-body {
    max-height:460px;
}

.addWrapper {
    margin: 0 auto;
    width: 470px;
    padding-bottom: 20px;
}

.addWrapper textarea {
      height: 90px;
    width: 396px;
}

.addWrapper ul.token-input-list-facebook {
    width:447px;
}

.addWrapper td {
    padding-right:10px;
}

/* End of modal settings */

/* Icon */

.icon {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.icon.contactIcon {
    background-position: 0 -2079px;
}

.icon.plusIconButton {
     background-position: 0 -5728px;
}

.icon.plusIcon {
     background-position: 0 -4736px;
}

.icon.twoPeopleIcon {
     background-position: 0 -480px;
}

.icon.linkIcon {
    background-position: 0 -1920px;
}

.icon.identificationIcon {
    background-position: 0 -4032px;
}

.icon.keyIcon {
    background-position: 0px -8608px;
}

.icon.plusIconGrey {
    background-position:0 -2241px;
}

.icon.minusIconGrey {
     background-position: 0 -2079px;
}

.icon.crossIconGrey {
    background-position: 0 -2145px;
}

.icon.businessIcon {
    background-position: 0 -9121px;
}

.icon.projectIcon {
    background-position: 0 -6624px;
}
.icon.plusIcon.open {
     background-position: 0 -1589px;
}

.icon.downArrow {
    background-position:0 -2048px;
}

.icon.downArrow.open {
    background-position:0 -2015px; 
}

.icon.resetIcon {
    background-position: 0 -1589px;
}

.icon.cancelIcon {
    background-position: 0 -1664px;
}

.icon.taskIcon {
    background-position: 0 -608px;
}

.icon.busniessIcon {
    background-position: 0 -9121px;
}

.icon.hashIcon {
    background-position: 0 -1854px;
}

.icon.completeIcon {
    background-position: 0 -736px;
}

.icon.personIcon {
    background-position: 0 -2751px;
}

.icon.emailIcon {
    background-position: 0 -1375px;
}
.icon.phoneIcon {
    background-position: 0 -3295px;
}
.icon.rightarrowIcon {
    background-position: 0 -3584px;
}

.icon.taskIcon {
    background-position: 0 -608px;
}

.icon.connectionIcon {
    background-position: 0 -8832px;
}
.addBusiness {
    cursor: pointer;
    margin-left: 6px;
}

/* Page Layout */

.connectionion {
    width:202px;
}

select.time-small {
    width: 107px;
}

.addConnection {
    cursor:pointer;
}

.modal-body .slide .addConnectionInput {
    display: none;
    vertical-align: bottom;
}

td.slide {
    vertical-align: bottom;
}

.datepickerback,
.datepicker {
    width:115px;
}

.datepicker-small {
    width:101px;
}

.addTime {
    width:75px;
}

.sidebar-divider {
    height:2px;
    border-bottom:1px solid #d4d4d4;
    margin-top:10px;
    margin-bottom:10px;
}

.action-bar span {
    font-size: 10px;
    padding-left: 15px;
    padding-right:15px;
}

.action-bar span.switch,
.action-bar span.toggle-bg {
    padding-left:0;
    padding-right:0;
}

.assigntoproject {
    background-color: #D5D5D5;
    color: #FFFFFF;
    padding: 5px 0;
    width: 404px;
    display: none;
}

/* End of Page layout */

#search {
    vertical-align: top;
}

.advancedSearchBox {
    width:100%;
    height:200px;
    background-color:#a5a5a5;
    display: none;
    background:none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E1E1E1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:11px;
}

.advancedSearchBox .icon {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 -17px;
    background-repeat: no-repeat;
}

.advancedSearchBox .header {
    background: none repeat scroll 0 0 #F6F6F6;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding: 5px 10px;
    border-bottom: 1px solid #E1E1E1;
}

.advancedSearchBox .content {
    height: 123px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
}

.advanceBox {
    float: left;
    padding: 0 30px;
    position: relative;
    vertical-align: bottom;
}

.advanceBox.first {
    padding-left:0;
    padding-right:30px;
}

.taskTableDraggable tr td:nth-child(1){
    cursor:move;
}

.removeComment {
    cursor:pointer;
    opacity:0;
}

/* Misc Classes */

.addBusinessTitle h6{
    margin-top:0px;
    display:inline-block;
}

.clear {
    clear:both;
}

.margin-sides-30 {
    padding:0 30px;
}

.ajaxLoader.error {
    background-image: url("../img/warning.png");
    background-position: 0 0;
}
/* End of Misc classes */

/* Projects Grid Layout CSS - This was stolen from podio so dont worry if it looks mental */


.items-list {
    min-height: 500px;
    position: relative;
}

.items-list.badge {
    margin-bottom: 10px;
    overflow: hidden;
}

.items-list.badge .item {
    -moz-box-sizing: border-box;
    font-size: 10px;
    padding: 0 20px 18px 0;
}
.g33 {
    width: 33.33%;
    display: inline;
    float: left;
}
.g50 {
    width: 50%;
}
.g20, .g25, .g33, .g50, .g66, .g75, .g80, .g100 {
    display: inline;
    float: left;
}

.items-list.badge .item .inner {
    -moz-transition-duration: 0.1s;
    -moz-transition-property: background;
    -moz-transition-timing-function: ease-in;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    height: 200px;
    overflow: hidden;
    position: relative;
    padding-right: 0;
    box-shadow: 1px 1px 3px #8C8C8C;
}

.items-list.badge .item .inner .header {
    -moz-transition-duration: 0.1s;
    -moz-transition-property: background;
    -moz-transition-timing-function: ease-in;
    background: none repeat scroll 0 0 #EFEFEF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
}


.items-list.badge .item .inner .content {
    border-top: 1px solid #D8D8D8;
    height: 118px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.items-list.badge .item .inner .content .bottom {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}

.items-list.badge .item .inner .footer:before {
    border-top: 1px solid #FFFFFF;
    content: "";
    height: 1px;
    margin-left: -10px;
    position: absolute;
    width: 100%;
}

.items-list.badge .item .inner .footer {
    border-top: 1px solid #EEEEEE;
    bottom: 0;
    color: #999999;
    font-size: 10px;
    height: 30px;
    left: 0;
    line-height: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
}


.items-list.badge .item .inner .header h2 {
    display: block;
    font-size: 10px;
    height: 100%;
    margin: 0 15px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.items-list.badge .item .inner a:link, .items-list.badge .item .inner a:visited {
    color: #525252;
}

.items-list.badge .item .inner .header .comment-count {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 2;
}
.items-list.badge .item .inner .header .badge {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
}

.label, .badge {
    background-color: inherit;
    color:inherit;
    font-weight:normal;
    text-shadow:none;
}

.footer .date {
    float:left;
}

.footer .author {
    float:right;
}

.editHover{  
    background-color: #E8F3FF;  
}  
.editBox{  
    width: 326px;  
    min-height: 20px;  
    padding: 10px 15px;  
    background-color: #fff;  
    border: 2px solid #E8F3FF;  
}  

/* End of grid layout styling */

input {
    vertical-align: top;
}

.sidebar-container {
    background-color: #fff;
    border-right:1px solid #d5d5d5;
    border-top:1px solid #d5d5d5;
    border-bottom:1px solid #d5d5d5;
    float: left;
    height: 100%;
    position: static;
    width: 230px;
}

.sidebar-container h2 {
    border-bottom: 1px solid #d5d5d5;
}
#tasks li,
#subtasks li {
    padding-left:5px;
}
#tasks li input,
#subtasks li input {
    margin-right:10px;
}

body:not([class*=""]) li:first-child:before {
    margin-top: -1.55em;
}
body:not([class*=""]) li:before {
    margin-bottom: -0.6em;
    margin-left: -35px;
    margin-top: -1em;
}
#tasks li,
#subtasks li { 
    border-left:1px solid #d5d5d5; 
    padding:0 0 1em 32px; 
    margin-left:0; 
    list-style:none; 
    font-size:13px; 
    position:relative;
    vertical-align: top;
}
#tasks li:before,       
#subtasks li:before { 
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #D5D5D5;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: " ";
    display: block;
    height: 15px;
    left: 34px;
    position: absolute;
    top: 9px;
    width: 15px;
}
#tasks li:first-child:before,
#subtasks li:first-child:before { 
    height: 8px;
    top: 25px; 
}
#tasks li:last-child,       
#subtasks li:last-child { 
    border-left:none; 
    margin-left:1px; /* moves the text over by the same amount as the line would have */ 
}
#tasks li input,        
#subtasks li input { left: 11px; z-index:1; position:absolute; opacity:.3; margin-left:5px; }
#tasks li label,
#subtasks li label { font-weight:bold;  }
#tasks li label:after,
#subtasks li label:after {
    content: ' (click to open)';
    font-weight: normal;
    font-style: italic;
    font-size:80%;
    color:green;
}
#tasks li input:checked + label:after,
#subtasks li input:checked + label:after {
    content: ' (click to close)'; 
    color:red;
}

.addingSupport {
    display: none;
}

.dateSeperator {
    background-color: #FCF953;
}
        
/* Table sort css */

th.header { 
    background-image: url(../img/small.gif);     
    cursor: pointer; 
} 

th.headerSortDown { 
    background-image: url(../img/desc.png);
    background-repeat: no-repeat; 
    background-position: top right;
} 

th.headerSortUp { 
    background-image: url(../img/asc.png); 
     background-repeat: no-repeat; 
     background-position: top right;
} 

.exportDropbox {
    background-color: #d5d5d5;
    height:300px;
    display: none;
    margin-bottom:20px;
    width:300px;
}

.checkDeterminator {
    cursor: pointer;
}

.success {
    color: green;
}

.error {
    color: red;
}

.one_half {
    width:45%;
    float:left;
    margin-right:5%;
}

.one_half.last {
    margin-right:0px;
}

.paginationContainer .one_half {
    padding:10px;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 20px;
    color: #d5d5d5;
}

#calendar {
    width:960px;
    margin:0 auto;
}

#file {
   display: none;
}
   
.dummyfile input[type="text"] {
   width: 120px;
   display: inline;
}

input.hexref {
    width:75px;
    margin-left:20px;
}

.taskstatuses .plusIconGrey {
    cursor:pointer;
}
