h1, h2, h3, h4, h5, h6 {
    color:#a5a5a5;
}
.sidebarSlider {
	position: absolute;
	background-color:#000;
	height:100%;
	width: 400px;
	top: 0;
	right:0;
	-moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E0E0E0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow: auto;
    position: fixed;
    z-index: 900;
    display: none;
    padding:20px;
}

.businessForm {
    display:none;
}

textarea {
    width: 100%;
}

.deleteRow {
    opacity: 0.5;
}

.resetForm {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 10px;
    vertical-align: middle;
    cursor:pointer;
}

.util-button-new {
    background: -moz-linear-gradient(center top , #F6F6F6, #EAEAEA) no-repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 5px;
    width: 16px;
}

.util-button-new .edit {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 -6464px;
    display: block;
    height: 16px;
    width: 16px;
}

/* General Classes */

.paddingTop {
    padding-top:10px;
}

.paddingBottom {
    padding-bottom:10px;
}

/* Modal setting specific to this project */

.modal {
    width:600px;
}

.modal-body {
    max-height:460px;
}

.addWrapper {
    margin: 0 auto;
    width: 470px;
}

.addWrapper textarea {
    width: 97%;
}

.addWrapper ul.token-input-list-facebook {
    width:404px;
}

.addWrapper td {
    padding-right:10px;
}

/* End of modal settings */

/* Icon */

.icon {
    background-image: url("../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.icon.contactIcon {
    background-position: 0 -2079px;
}

.icon.plusIcon {
     background-position: 0 -5728px;
}

.icon.resetIcon {
    background-position: 0 -1589px;
}

.icon.busniessIcon {
    background-position: 0 -9123px;
}
.addBusiness {
    cursor: pointer;
    margin-left: 6px;
}

/* Page Layout */



/* End of Page layout */


/* Misc Classes */

.addBusinessTitle h6{
    margin-top:0px;
}
/* End of Misc classes */
