.commentsArea > ul > li {
	display:block;
	border:none;
	list-style: none;
	padding:20px;
}

span.orange  {
	color: #FF6D00;
	font-weight: bold;
}

span.orange small {
	color: #000;
}

span.black  {
	color: #000;
	font-weight: bold;
}

span.black small {
	color: #000;
}


.commentsArea textarea {
	width: 98%;
	display:block;
}

.commentForm {
	padding:20px 0px;
	border-top:1px solid #d5d5d5;
}


.gallery-container > li > a > small {
	color:#FFA31A;
	text-decoration: none !important;
}

.gallery-container > li > a > small:hover {
	text-decoration: none !important;
}

.clientPreviewBanner {
    position: absolute;
    width:100%;
    height:40px;
    background-color: #FFA31A;
}

.icon {
    background-image: url("../../img/mastersprite16_aug302012-2.png?1347364552");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.icon.plusIconButton {
     background-position: 0 -5728px;
}

.inline {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.dummyfile {
	float:left;
}

.questionModalForm input,
.questionModalForm textarea {
	width:98%;
}

.questionModalForm textarea {
	height:100px;
}
